BasedOnStyle: Chromium
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
ColumnLimit: 0
ExperimentalAutoDetectBinPacking: false
IndentCaseLabels: true
PointerAlignment: Left
TabWidth: 4
IndentWidth: 4
UseTab: Never
IndentPPDirectives: BeforeHash
AlignArrayOfStructures: Left
AlwaysBreakBeforeMultilineStrings: false
AllowShortLoopsOnASingleLine: true
SortUsingDeclarations: true
SortIncludes: Never
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements 
AccessModifierOffset: -4
Cpp11BracedListStyle: false
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
